<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#/">
          Wi Find Bar
        </a>
      </li>
      <li>
        <span style="color:#999999;">Buscar Dirección</span>
        <md-button style="background-color: lightslategray;" class="md-icon-button md-24 md-ink-ripple"
                   ng-click="vm.buscarBaresCercanos()">
          <i class="material-icons md-24" style=" color:white">search</i>
        </md-button>
        <!--&lt;!&ndash;Buscar Dirección&ndash;&gt;-->
        <!--<div><input type="text" class="form-control" id="usr" style="width: 60%; display: inline;"/>-->
        <!--<md-button style="background-color: lightslategray;" class="md-icon-button md-24 md-ink-ripple"-->
        <!--ng-click="buscarBares">-->
        <!--<i class="material-icons md-24" style=" color:white">search</i>-->
        <!--</md-button>-->
        <!--</div>-->


        <input type="text" placeholder="Distancia en metros" ng-model="vm.maxDistanciaMetros" class="form-control"
               style="text-align:left; width: 80%; margin-left: 20px; display: inline;"/>
        <multiselect style="text-align:left; width: 80%; margin-left: 20px;" selected-text="Filtros" ms-header="Filtros"
                     ng-model="vm.filtrosSeleccionados" options="f.descripcion for f in vm.filtros" data-multiple="true"
                     data-compare-by="id" scroll-after-rows="5" filter-after-rows="5" max-width="100"
                     tabindex="-1">
        </multiselect>
        <div style="margin-top:60px;">
          <div ng-if="vm.filtrosSeleccionados.indexOf(vm.filtros[0]) != -1" style="margin-bottom:15px;">
            <div style="width: 220px;">
              <span style="font-size:large; margin-left:3px; color: white;">WiFi min:</span>
              <input type="number" style="float:right; width: 40px; height: 30px;"
                     ng-model="vm.minEstrellasWifi">
            </div>
            <div style="width: 220px;">
              <span style="font-size:large; margin-left:3px; color: white;">WiFi max:</span>
              <input type="number" style="float:right; width: 40px; height: 30px;"
                     ng-model="vm.maxEstrellasWifi">
            </div>
          </div>
          <div ng-if="vm.filtrosSeleccionados.indexOf(vm.filtros[1]) != -1">
            <div style="width: 220px;">
              <span style="font-size:large; margin-left:3px; color: white;">Enchufes min:</span>
              <input type="number" style="float:right; width: 40px; height: 30px;"
                     ng-model="vm.minEstrellasEnchufes">
            </div>
            <div style="width: 220px;">
              <span style="font-size:large; margin-left:3px; color: white;">Enchufes max:</span>
              <input type="number" style="float:right; width: 40px; height: 30px;"
                     ng-model="vm.maxEstrellasEnchufes">
            </div>
          </div>
          <div ng-if="vm.filtrosSeleccionados.indexOf(vm.filtros[2]) != -1">
            <div style="width: 220px;">
              <span style="font-size:large; margin-left:3px; color: white;">Aire min:</span>
              <input type="number" style="float:right; width: 40px; height: 30px;"
                     ng-model="vm.minEstrellasAire">
            </div>
            <div style="width: 220px;">
              <span style="font-size:large; margin-left:3px; color: white;">Aire max:</span>
              <input type="number" style="float:right; width: 40px; height: 30px;"
                     ng-model="vm.maxEstrellasAire">
            </div>
          </div>
          <div style="color: white">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Wi-Find Bar</h1>

          <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' draggable="true" options="vm.options"
                              bounds="vm.map.bounds" events="vm.map.events" control="vm.map.control">

            <ui-gmap-markers models="vm.marcadores" coords="'self'" icon="'icon'" options="'options'">
            </ui-gmap-markers>

            <ui-gmap-marker ng-if="vm.marker!=undefined" idkey="vm.marker.id" control="vm.markerControl"
                            title="asdasd" coords="vm.marker.coords" options="vm.marker.options"
                            events="ctrlmarker.events">
            </ui-gmap-marker>

          </ui-gmap-google-map>


          <br>
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
