<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#/">
          Wi Find Bar
        </a>
      </li>
      <li>
        <a href="#/">Buscar Dirección</a>

        <!--Buscar Dirección-->
        <div><input type="text" class="form-control" id="usr" style="width: 60%; display: inline;"/>
          <md-button style="background-color: lightslategray;" class="md-icon-button md-24 md-ink-ripple"
                     ng-click="buscarBares">
            <i class="material-icons md-24" style=" color:white">search</i>
          </md-button>
        </div>

        <multiselect style="width: 80%; margin-left: 20px;" selected-text="Filtros" ms-header="Filtros"
                     ng-model="selectModel" options="f.descripcion for f in filtros" data-multiple="true"
                     data-compare-by="id" scroll-after-rows="5" filter-after-rows="5" max-width="100"
                     tabindex="-1">
        </multiselect>
      </li>
      <!--<li>-->
      <!--<a href="#">Shortcuts</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Overview</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Events</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">About</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Services</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Contact</a>-->
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Wi-Find Bar</h1>

          <ui-gmap-google-map center='map.center' zoom='map.zoom'  draggable="true" options="options" bounds="map.bounds" events="map.events">
	     
	     <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
	     </ui-gmap-markers>
	     
	     <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
	     </ui-gmap-marker>
          
          </ui-gmap-google-map>

<!--          <div ng-cloak>
	    <ul>
	      <li>coords update ctr: {{coordsUpdates}}</li>
	      <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
	    </ul>
	  </div>

	  -->
          <br>
          <p>Casi todo fue configuración por ahora. Me parece que sale en un pedo. <code>#AugustoMarica</code></p>
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
